<div class="container">
<div class="row justify-content-center p-3">
    <div class="col-4">
            <div class="form-group">
                <label for="exampleInputPassword1">Durée du programme</label><br>
                <input type="text" class="form-control" [(ngModel)]="activity.durationActivity" name="durationActivity">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Description programme</label>
                <input type="text" [(ngModel)]="activity.describtionActivity" name="describtionActivity">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Contenu du programme</label>
                <input type="text" [(ngModel)]="activity.contentActivity" name="contentActivity">
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">Categorie</label>
                <input type="text" [(ngModel)]="activity.category" name="category" placeholder="categorie" class="form-control"  >
            </div>

            <div class="form-group">
                
                <input type="text" [(ngModel)]="user.idUser" name="idUser" placeholder="categorie" class="form-control" hidden>
            </div>
            
            <div class="form-group">
                <label for="exampleInputPassword1">Prix</label><br>
                <input type="text" [(ngModel)]="activity.price" name="price" placeholder="prix" class="form-control" >
            </div>

            <div class="form-group">
              <label for="exampleInputPassword1">Image de fond</label>
              <input type="file" [(ngModel)]="activity.photo" name="photo" class="form-control" id="exampleInputPassword1" >
            </div>

            <div class="input-group-append">
                <button type="submit" class="btn btn-success w-100" (click)="createProgramme()">Ajouter</button>
            </div>
      </div>
  
</div>
</div>

