<html>
    <head>

    </head>
    <body>
            <div class="container col-xl" style="width: 100%; padding: 0;margin: 0;">
                    <nav class="navbar navbar-expand-lg navbar-light bg-dark ">
                        <a class="navbar-brand" class="t-logo" href="/home"><img src="../assets/images/titre.png" alt="" class="t-titre"></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse " id="navbarSupportedContent ">
                          <ul class="navbar-nav mr-auto">
                            <li class="nav-item active ac">
                              <a class="nav-link text-white " href="/home"> <img src="../assets/images/home.png" alt="" class="icon">  Accueil <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                 <a class="nav-link text-white cc" href="/coachs"><img src="../assets/images/user.png" alt="" class="icon"> Coachs</a>
                             </li>
                            <li class="nav-item" href="#">
                                 <a class="nav-link text-white" href="/programmes"><img src="../assets/images/list.png" alt="" class="icon"> Programmes</a>
                            </li>
                            <li class="nav-item">
                                    <a class="nav-link text-white" href="/createProgramme"><img src="../assets/images/pen.png" alt="" class="icon"> Creer un programme</a>
                            </li>
                            <li class="nav-item">
                                 <a class="nav-link text-white" href="/programmeCreateCoach"><img src="../assets/images/show.png" alt="" class="icon"> Voir mes programmes</a>
                            </li>
                            <li class="nav-item">
                                    <a class="nav-link text-white" href="/programmeAchete"><img src="../assets/images/show.png" alt="" class="icon"> Voir mes programmes achetés</a>
                               </li>


                          </ul>
                          <div class=" my-2 my-lg-0 nio">
                                <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle w-100" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <img src="http://localhost:8082/v1/photos/user/{{user.idUser}}" class="card-img-top" alt="..." style="width: 30px;height: 30px;">{{user.firstName+' '+user.lastName}}
                                        </button>
                                        <div class="dropdown-content" aria-labelledby="dropdownMenuButton">
                                          <a class="dropdown-item" href="/login"><img src="../assets/images/connexion.png" alt="" class="icon"> Connexion</a>
                                          <a class="dropdown-item" href="/subscribe"><img src="../assets/images/logindec.png" alt="" class="icon"> Deconnexion</a>
                                          <a class="dropdown-item" href="profil"><img src="../assets/images/user.png" alt="" class="icon"> Profil</a>

                                        </div>
                                      </div>



                         </div>
                        </div>
                      </nav><br><br>
             </div>
            <router-outlet></router-outlet>

    </body>
</html>
